* {
  box-sizing: border-box;
}

:root {
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: steelblue;
}

.body-wrapper {
  padding: 5px;
}

/* NAVIGATION */
.nav-wrapper {
  background-color: lightgray;
  box-shadow: 5px 10px 8px black;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.nav-link-container > nav {
  margin-top: 50px;
  padding-right: 10px;
}

.nav-link-container > nav > a:hover {
  background-color: lightblue;
}

.nav-title-container {
  margin-top: 10px;
  padding-left: 10px;
}
/* NAVIGATION  */

.about {
}

#nate-pic {
  height: 400px;
  width: 400px;
}

/* Media Screen */

@media only screen and (max-width: 980px) {
  body {
    font-size: 10px;
  }
}
